<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/wfs/advice" method="post">
    <label for="name">姓名
        <input type="text" name="name" id="name" placeholder="请输入姓名(必填)"><br>
    </label>
    <label for="phone">电话
        <input type="number" name="phone" id="phone" placeholder="请输入电话（非必填）"><br>
    </label>
    <label for="advice">建议</label><textarea name="advice" id="advice" ></textarea><br>
    <button type="submit" class="layui-btn layui-btn-lg layui-btn-normal">提交</button>
</form>
<script src="/webjars/layui/2.5.6/layui.js"></script>
<script src="/webjars/jquery/3.5.1/jquery.js"></script>
</body>
</html>